$WHITE: #f8fafc;
$Note-Background: #e5e5ef;
$Second-Text: #9291a5;
$Accent-Bule: #4a3aff;
$Transperent-Bule: #4a3aff31;
$DARK: #1d1c2b;
$TransperentDARK: #1d1c2b4d;
$RED: #ff5353;
$YELLOW: #fed049;
$DONE: #c0cbde;
$GREEN: #7fe47e;
$TransperentGREEN: #80e47e3b;
